main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
}

form label {
  color: black;
}

form input {
  width: 100%;
  max-width: 500px;
  color: black;
  padding: 5px 8px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  color: white;
  cursor: pointer;
  padding: 5px 7px;
  outline: none;
  border-radius: 5px;
  background-color: black;
  transition: opacity 0.2s ease-in-out;
}

button:hover {
  opacity: 95%;
}