.main{
  display: flex;  
  flex-direction: column;          
  align-items: center;     
  justify-content: center;   
  min-height: 100vh;          
  height: 100%;               
  width: 100%;      
  background-color: #003366;          
}

.titulo{
  font-size: 4rem;
}

.display{
  background-color: #ffffff;  
  padding: 1rem;              
  border-radius: 0.5rem;      
  width: 90%;                  
  max-width: 36rem;            
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 
              0 1px 2px rgba(0, 0, 0, 0.06); 
}

.add-paciente{
    cursor: pointer;
    background-color: #003366;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    border: #ffffff solid 2px;
    color: #ffffff;
    margin-top: 2rem;
}

.add-paciente:hover{
    transform: scale(1.1);
}

.lista-pacientes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item-lista-pacientes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nome-lista-pacientes{
    color: black;
}

.opcoes-item{
    display: flex;
    gap: 2;
}

.icone-editar{
    color: #003366;
    cursor: pointer;
}

.icone-editar:hover{
    transform: scale(1.1);
}

.icone-excluir{
    color: red;
    cursor: pointer;
}

.icone-excluir:hover{
    transform: scale(1.1);
}
